In [1]:
import os
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

import chardet

In [2]:
dir_root = "../../data/AutoML_DatasetsV1/Northwind/"

path_categories = os.path.join(dir_root, "Categories.csv")
path_customers =os.path.join(dir_root, "Customers.csv")
path_employees = os.path.join(dir_root, "Employees.csv")
path_employee_territories =os.path.join(dir_root, "EmployeeTerritories.csv")

path_order_details = os.path.join(dir_root, "Order_Details.csv")
path_orders =os.path.join(dir_root, "Orders.csv")
path_products = os.path.join(dir_root, "Products.csv")
path_region =os.path.join(dir_root, "Region.csv")

path_suppliers = os.path.join(dir_root, "Suppliers.csv")
path_territories =os.path.join(dir_root, "Territories.csv")

STR_LINE = ''.join(['-']*50)

In [3]:
def detect_encoding(file_path):
    with open(file_path, 'rb') as rawdata:
        result = chardet.detect(rawdata.read(100000))
    print(result)
    return result['encoding']

In [4]:
def print_df(df_data, title="DataFrame"):
    str_report = f"{STR_LINE}\n{title}\n{STR_LINE}\n"
    str_report += f"shape: {df_data.shape}\n{STR_LINE}\n"
    str_report += f"describe: \n{df_data.describe()}\n{STR_LINE}\n"
    str_report += f"dtypes: \n{df_data.dtypes}\n{STR_LINE}\n"
    str_report += f"head: \n{df_data.head()}\n{STR_LINE}\n"
    str_report += f"Unique values: \n{STR_LINE}\n"
    for column in df_data.columns:
        num_uniq = len(df_data[column].unique())
        str_report += f"column: {column}: {num_uniq}\n{STR_LINE}\n"
        if num_uniq < 10:
            dict_val_counts = df_data[column].value_counts()
            str_report += f"{dict_val_counts}\n{STR_LINE}\n"
    # str_report += f"\n{STR_LINE}\n"
    
    print(str_report)
    # return str_report

In [6]:
encoding = detect_encoding(path_categories)
df_categories = pd.read_csv(path_categories, encoding=encoding)
print_df(df_categories, "Categories")

encoding = detect_encoding(path_customers)
df_customers = pd.read_csv(path_customers, encoding=encoding)
print_df(df_customers, "Customers")

encoding = detect_encoding(path_orders)
df_orders = pd.read_csv(path_orders, encoding=encoding)
print_df(df_orders, "Orders")

encoding = detect_encoding(path_order_details)
df_order_details = pd.read_csv(path_order_details, encoding=encoding)
print_df(df_order_details, "Order Details")

encoding = detect_encoding(path_employees)
df_employees = pd.read_csv(path_employees, encoding=encoding)
print_df(df_employees, "Employees")

encoding = detect_encoding(path_region)
df_regions = pd.read_csv(path_region, encoding=encoding)
print_df(df_regions, "Regions")

encoding = detect_encoding(path_employee_territories)
df_employee_territories = pd.read_csv(path_employee_territories, encoding=encoding)
print_df(df_employee_territories, "Employee Territories")

encoding = detect_encoding(path_products)
df_products = pd.read_csv(path_products, encoding=encoding)
print_df(df_products, "Products")

encoding = detect_encoding(path_suppliers)
df_suppliers = pd.read_csv(path_suppliers, encoding=encoding)
print_df(df_suppliers, "Suppliers")

encoding = detect_encoding(path_territories)
df_territories = pd.read_csv(path_territories, encoding=encoding)
print_df(df_territories, "Territories")

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}
--------------------------------------------------
Categories
--------------------------------------------------
shape: (8, 3)
--------------------------------------------------
describe:
       CategoryID
count     8.00000
mean      4.50000
std       2.44949
min       1.00000
25%       2.75000
50%       4.50000
75%       6.25000
max       8.00000
--------------------------------------------------
dtypes:
CategoryID       int64
CategoryName    object
Description     object
dtype: object
--------------------------------------------------
head:
   CategoryID    CategoryName  \
0           1       Beverages
1           2      Condiments
2           3     Confections
3           4  Dairy Products
4           5  Grains/Cereals

                                         Description
0        Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, an...
2                Desserts, candies, and sweet breads
3                                            Cheeses
4                Breads, crackers, pasta, and cereal
--------------------------------------------------
Unique values:
--------------------------------------------------
column: CategoryID: 8
--------------------------------------------------
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
Name: CategoryID, dtype: int64
--------------------------------------------------
column: CategoryName: 8
--------------------------------------------------
Beverages         1
Condiments        1
Confections       1
Dairy Products    1
Grains/Cereals    1
Meat/Poultry      1
Produce           1
Seafood           1
Name: CategoryName, dtype: int64
--------------------------------------------------
column: Description: 8
--------------------------------------------------
Soft drinks, coffees, teas, beers, and ales                   1
Sweet and savory sauces, relishes, spreads, and seasonings    1
Desserts, candies, and sweet breads                           1
Cheeses                                                       1
Breads, crackers, pasta, and cereal                           1
Prepared meats                                                1
Dried fruit and bean curd                                     1
Seaweed and fish                                              1
Name: Description, dtype: int64
--------------------------------------------------

{'encoding': 'ISO-8859-1', 'confidence': 0.728677536231884, 'language': ''}
--------------------------------------------------
Customers
--------------------------------------------------
shape: (91, 11)
--------------------------------------------------
describe:
       CustomerID          CompanyName   ContactName          ContactTitle  \
count          91                   91            91                    91
unique         91                   91            91                    12
top         ALFKI  Alfreds Futterkiste  Maria Anders  Sales Representative
freq            1                    1             1                    17

              Address    City Region PostalCode Country        Phone  \
count              91      91     31         90      91           91
unique             91      69     18         86      21           91
top     Obere Str. 57  London     SP       1010     USA  030-0074321
freq                1       6      6          3      13            1

                Fax
count            69
unique           69
top     030-0076545
freq              1
--------------------------------------------------
dtypes:
CustomerID      object
CompanyName     object
ContactName     object
ContactTitle    object
Address         object
City            object
Region          object
PostalCode      object
Country         object
Phone           object
Fax             object
dtype: object
--------------------------------------------------
head:
  CustomerID                         CompanyName         ContactName  \
0      ALFKI                 Alfreds Futterkiste        Maria Anders
1      ANATR  Ana Trujillo Emparedados y helados        Ana Trujillo
2      ANTON             Antonio Moreno Taquería      Antonio Moreno
3      AROUT                     Around the Horn        Thomas Hardy
4      BERGS                  Berglunds snabbköp  Christina Berglund

           ContactTitle                        Address         City Region  \
0  Sales Representative                  Obere Str. 57       Berlin    NaN
1                 Owner  Avda. de la Constitución 2222  México D.F.    NaN
2                 Owner                Mataderos  2312  México D.F.    NaN
3  Sales Representative                120 Hanover Sq.       London    NaN
4   Order Administrator                Berguvsvägen  8        Luleå    NaN

  PostalCode  Country           Phone             Fax
0      12209  Germany     030-0074321     030-0076545
1      05021   Mexico    (5) 555-4729    (5) 555-3745
2      05023   Mexico    (5) 555-3932             NaN
3    WA1 1DP       UK  (171) 555-7788  (171) 555-6750
4   S-958 22   Sweden   0921-12 34 65   0921-12 34 67
--------------------------------------------------
Unique values:
--------------------------------------------------
column: CustomerID: 91
--------------------------------------------------
column: CompanyName: 91
--------------------------------------------------
column: ContactName: 91
--------------------------------------------------
column: ContactTitle: 12
--------------------------------------------------
column: Address: 91
--------------------------------------------------
column: City: 69
--------------------------------------------------
column: Region: 19
--------------------------------------------------
column: PostalCode: 87
--------------------------------------------------
column: Country: 21
--------------------------------------------------
column: Phone: 91
--------------------------------------------------
column: Fax: 70
--------------------------------------------------

{'encoding': 'ISO-8859-1', 'confidence': 0.7257076, 'language': ''}
--------------------------------------------------
Orders
--------------------------------------------------
shape: (830, 14)
--------------------------------------------------
describe:
            OrderID  EmployeeID     ShipVia      Freight
count    830.000000  830.000000  830.000000   830.000000
mean   10662.500000    4.403614    2.007229    78.244205
std      239.744656    2.499648    0.779685   116.779294
min    10248.000000    1.000000    1.000000     0.020000
25%    10455.250000    2.000000    1.000000    13.380000
50%    10662.500000    4.000000    2.000000    41.360000
75%    10869.750000    7.000000    3.000000    91.430000
max    11077.000000    9.000000    3.000000  1007.640000
--------------------------------------------------
dtypes:
OrderID             int64
CustomerID         object
EmployeeID          int64
OrderDate          object
RequiredDate       object
ShippedDate        object
ShipVia             int64
Freight           float64
ShipName           object
ShipAddress        object
ShipCity           object
ShipRegion         object
ShipPostalCode     object
ShipCountry        object
dtype: object
--------------------------------------------------
head:
   OrderID CustomerID  EmployeeID    OrderDate  RequiredDate   ShippedDate  \
0    10248      VINET           5  7/4/96 0:00   8/1/96 0:00  7/16/96 0:00
1    10249      TOMSP           6  7/5/96 0:00  8/16/96 0:00  7/10/96 0:00
2    10250      HANAR           4  7/8/96 0:00   8/5/96 0:00  7/12/96 0:00
3    10251      VICTE           3  7/8/96 0:00   8/5/96 0:00  7/15/96 0:00
4    10252      SUPRD           4  7/9/96 0:00   8/6/96 0:00  7/11/96 0:00

   ShipVia  Freight                   ShipName           ShipAddress  \
0        3    32.38  Vins et alcools Chevalier    59 rue de l'Abbaye
1        1    11.61         Toms Spezialitäten         Luisenstr. 48
2        2    65.83              Hanari Carnes       Rua do Paço, 67
3        1    41.34       Victuailles en stock    2, rue du Commerce
4        2    51.30           Suprêmes délices  Boulevard Tirou, 255

         ShipCity ShipRegion ShipPostalCode ShipCountry
0           Reims        NaN          51100      France
1         Münster        NaN          44087     Germany
2  Rio de Janeiro         RJ      05454-876      Brazil
3            Lyon        NaN          69004      France
4       Charleroi        NaN         B-6000     Belgium
--------------------------------------------------
Unique values:
--------------------------------------------------
column: OrderID: 830
--------------------------------------------------
column: CustomerID: 89
--------------------------------------------------
column: EmployeeID: 9
--------------------------------------------------
4    156
3    127
1    123
8    104
2     96
7     72
6     67
9     43
5     42
Name: EmployeeID, dtype: int64
--------------------------------------------------
column: OrderDate: 480
--------------------------------------------------
column: RequiredDate: 454
--------------------------------------------------
column: ShippedDate: 388
--------------------------------------------------
column: ShipVia: 3
--------------------------------------------------
2    326
3    255
1    249
Name: ShipVia, dtype: int64
--------------------------------------------------
column: Freight: 799
--------------------------------------------------
column: ShipName: 90
--------------------------------------------------
column: ShipAddress: 89
--------------------------------------------------
column: ShipCity: 70
--------------------------------------------------
column: ShipRegion: 20
--------------------------------------------------
column: ShipPostalCode: 84
--------------------------------------------------
column: ShipCountry: 21
--------------------------------------------------

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}
--------------------------------------------------
Order Details
--------------------------------------------------
shape: (2155, 5)
--------------------------------------------------
describe:
            OrderID    ProductID    UnitPrice     Quantity     Discount
count   2155.000000  2155.000000  2155.000000  2155.000000  2155.000000
mean   10659.375870    40.793039    26.218520    23.812993     0.056167
std      241.378032    22.159019    29.827418    19.022047     0.083450
min    10248.000000     1.000000     2.000000     1.000000     0.000000
25%    10451.000000    22.000000    12.000000    10.000000     0.000000
50%    10657.000000    41.000000    18.400000    20.000000     0.000000
75%    10862.500000    60.000000    32.000000    30.000000     0.100000
max    11077.000000    77.000000   263.500000   130.000000     0.250000
--------------------------------------------------
dtypes:
OrderID        int64
ProductID      int64
UnitPrice    float64
Quantity       int64
Discount     float64
dtype: object
--------------------------------------------------
head:
   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0
--------------------------------------------------
Unique values:
--------------------------------------------------
column: OrderID: 830
--------------------------------------------------
column: ProductID: 77
--------------------------------------------------
column: UnitPrice: 116
--------------------------------------------------
column: Quantity: 55
--------------------------------------------------
column: Discount: 11
--------------------------------------------------

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}
--------------------------------------------------
Employees
--------------------------------------------------
shape: (9, 17)
--------------------------------------------------
describe:
       EmployeeID    Extension  ReportsTo
count    9.000000     9.000000   8.000000
mean     5.000000  2733.000000   3.125000
std      2.738613  1958.430366   1.552648
min      1.000000   428.000000   2.000000
25%      3.000000   465.000000   2.000000
50%      5.000000  3355.000000   2.000000
75%      7.000000  3457.000000   5.000000
max      9.000000  5467.000000   5.000000
--------------------------------------------------
dtypes:
EmployeeID           int64
LastName            object
FirstName           object
Title               object
TitleOfCourtesy     object
BirthDate           object
HireDate            object
Address             object
City                object
Region              object
PostalCode          object
Country             object
HomePhone           object
Extension            int64
Notes               object
ReportsTo          float64
PhotoPath           object
dtype: object
--------------------------------------------------
head:
   EmployeeID   LastName FirstName                  Title TitleOfCourtesy  \
0           1    Davolio     Nancy   Sales Representative             Ms.
1           2     Fuller    Andrew  Vice President, Sales             Dr.
2           3  Leverling     Janet   Sales Representative             Ms.
3           4    Peacock  Margaret   Sales Representative            Mrs.
4           5   Buchanan    Steven          Sales Manager             Mr.

             BirthDate             HireDate                        Address  \
0  1948-12-08 00:00:00  1992-05-01 00:00:00  507 - 20th Ave. E.\r\nApt. 2A
1  1952-02-19 00:00:00  1992-08-14 00:00:00             908 W. Capital Way
2  1963-08-30 00:00:00  1992-04-01 00:00:00             722 Moss Bay Blvd.
3  1937-09-19 00:00:00  1993-05-03 00:00:00           4110 Old Redmond Rd.
4  1955-03-04 00:00:00  1993-10-17 00:00:00                14 Garrett Hill

       City Region PostalCode Country       HomePhone  Extension  \
0   Seattle     WA      98122     USA  (206) 555-9857       5467
1    Tacoma     WA      98401     USA  (206) 555-9482       3457
2  Kirkland     WA      98033     USA  (206) 555-3412       3355
3   Redmond     WA      98052     USA  (206) 555-8122       5176
4    London    NaN    SW1 8JR      UK   (71) 555-4848       3453

                                               Notes  ReportsTo  \
0  Education includes a BA in psychology from Col...        2.0
1  Andrew received his BTS commercial in 1974 and...        NaN
2  Janet has a BS degree in chemistry from Boston...        2.0
3  Margaret holds a BA in English literature from...        2.0
4  Steven Buchanan graduated from St. Andrews Uni...        2.0

                                PhotoPath
0    http://accweb/emmployees/davolio.bmp
1     http://accweb/emmployees/fuller.bmp
2  http://accweb/emmployees/leverling.bmp
3    http://accweb/emmployees/peacock.bmp
4   http://accweb/emmployees/buchanan.bmp
--------------------------------------------------
Unique values:
--------------------------------------------------
column: EmployeeID: 9
--------------------------------------------------
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: EmployeeID, dtype: int64
--------------------------------------------------
column: LastName: 9
--------------------------------------------------
Davolio      1
Fuller       1
Leverling    1
Peacock      1
Buchanan     1
Suyama       1
King         1
Callahan     1
Dodsworth    1
Name: LastName, dtype: int64
--------------------------------------------------
column: FirstName: 9
--------------------------------------------------
Nancy       1
Andrew      1
Janet       1
Margaret    1
Steven      1
Michael     1
Robert      1
Laura       1
Anne        1
Name: FirstName, dtype: int64
--------------------------------------------------
column: Title: 4
--------------------------------------------------
Sales Representative        6
Vice President, Sales       1
Sales Manager               1
Inside Sales Coordinator    1
Name: Title, dtype: int64
--------------------------------------------------
column: TitleOfCourtesy: 4
--------------------------------------------------
Ms.     4
Mr.     3
Dr.     1
Mrs.    1
Name: TitleOfCourtesy, dtype: int64
--------------------------------------------------
column: BirthDate: 9
--------------------------------------------------
1948-12-08 00:00:00    1
1952-02-19 00:00:00    1
1963-08-30 00:00:00    1
1937-09-19 00:00:00    1
1955-03-04 00:00:00    1
1963-07-02 00:00:00    1
1960-05-29 00:00:00    1
1958-01-09 00:00:00    1
1966-01-27 00:00:00    1
Name: BirthDate, dtype: int64
--------------------------------------------------
column: HireDate: 8
--------------------------------------------------
1993-10-17 00:00:00    2
1992-05-01 00:00:00    1
1992-08-14 00:00:00    1
1992-04-01 00:00:00    1
1993-05-03 00:00:00    1
1994-01-02 00:00:00    1
1994-03-05 00:00:00    1
1994-11-15 00:00:00    1
Name: HireDate, dtype: int64
--------------------------------------------------
column: Address: 9
--------------------------------------------------
507 - 20th Ave. E.\r\nApt. 2A       1
908 W. Capital Way                  1
722 Moss Bay Blvd.                  1
4110 Old Redmond Rd.                1
14 Garrett Hill                     1
Coventry House\r\nMiner Rd.         1
Edgeham Hollow\r\nWinchester Way    1
4726 - 11th Ave. N.E.               1
7 Houndstooth Rd.                   1
Name: Address, dtype: int64
--------------------------------------------------
column: City: 5
--------------------------------------------------
London      4
Seattle     2
Tacoma      1
Kirkland    1
Redmond     1
Name: City, dtype: int64
--------------------------------------------------
column: Region: 2
--------------------------------------------------
WA    5
Name: Region, dtype: int64
--------------------------------------------------
column: PostalCode: 9
--------------------------------------------------
98122      1
98401      1
98033      1
98052      1
SW1 8JR    1
EC2 7JR    1
RG1 9SP    1
98105      1
WG2 7LT    1
Name: PostalCode, dtype: int64
--------------------------------------------------
column: Country: 2
--------------------------------------------------
USA    5
UK     4
Name: Country, dtype: int64
--------------------------------------------------
column: HomePhone: 9
--------------------------------------------------
(206) 555-9857    1
(206) 555-9482    1
(206) 555-3412    1
(206) 555-8122    1
(71) 555-4848     1
(71) 555-7773     1
(71) 555-5598     1
(206) 555-1189    1
(71) 555-4444     1
Name: HomePhone, dtype: int64
--------------------------------------------------
column: Extension: 9
--------------------------------------------------
5467    1
3457    1
3355    1
5176    1
3453    1
428     1
465     1
2344    1
452     1
Name: Extension, dtype: int64
--------------------------------------------------
column: Notes: 9
--------------------------------------------------
Education includes a BA in psychology from Colorado State University in 1970.  She also completed "The Art of the Cold Call."  Nancy is a member of Toastmasters International.                                                                                                                                                                                                                                                                                     1
Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.    1

In [19]:
def total_sale_amt(df_data):
    for row_i, row in df_data.iterrows():
        pass

def sale_summary(df_data):
    print(df_data.head())
    df_data = df_data.head(10)
    df_group = df_data.groupby('OrderID')
    
    list_records = []
    for order_id, df_details in df_group:
        print(f"{order_id}\n{df_details}")
        df_agg = df_details.agg(['sum', 'min'])
        print(f"{type(df_agg)}{df_agg}")
        
        dict_record = {
            'OrderID': order_id,
            'num_products': df_agg.loc['sum', 'Quantity']
        }
        list_records.append(dict_record)
    
    df_summary = pd.DataFrame.from_records(list_records)
    # print(df_summary)
    return df_summary
    
    
    
sale_summary(df_order_details)

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0
10248
   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
<class 'pandas.core.frame.DataFrame'>     OrderID  ProductID  UnitPrice  Quantity  Discount
sum    30744        125       58.6        27       0.0
min    10248         11        9.8         5       0.0
10249
   OrderID  ProductID  UnitPrice  Quantity  Discount
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0
<class 'pandas.core.frame.DataFrame'>     OrderID  ProductID  UnitPrice  Quantity  Discount
sum    20498         65       61.0        49       0.0
min    10249         14       18.6         9       0.0
10250
   OrderID  ProductID  UnitPrice  Quantity  Discount
5    10250         41        7.7        10      0.00
6    10250         51       42.4        35      0.15
7    10250         65       16.8        15      0.15
<class 'pandas.core.frame.DataFrame'>     OrderID  ProductID  UnitPrice  Quantity  Discount
sum    30750        157       66.9        60       0.3
min    10250         41        7.7        10       0.0
10251
   OrderID  ProductID  UnitPrice  Quantity  Discount
8    10251         22       16.8         6      0.05
9    10251         57       15.6        15      0.05
<class 'pandas.core.frame.DataFrame'>     OrderID  ProductID  UnitPrice  Quantity  Discount
sum    20502         79       32.4        21      0.10
min    10251         22       15.6         6      0.05

   OrderID  num_products
0    10248            27
1    10249            49
2    10250            60
3    10251            21